<div class="zsc-comment" id="comment-{{ id }}">
    <div class="zsc-comment-header">
        <div class="zsc-comment-gravatar">
            <img src="{{ gravatar }}?size=40">
        </div>
        <div>
            <div class="zsc-comment-name">{{ name }}</div>
            <div class="zsc-comment-dt">{{ dt }}</div>
        </div>
    </div>
    <div class="zsc-comment-text">{{ text }}</div>
    <div class="zsc-comment-reply">
        <a href="javascript:document.getElementById('zsc-comment-reply-to').value={{ id }};document.getElementById('zsc-comment-name').focus();">
            antworten
        </a>
    </div>
</div>
