{% framework extras %}

<div id="zsc-comment-form-container">
    <form class="zsc-comment-form" id="zsc-comment-form"
        data-request="{{ __SELF__ }}::onPostComment"
        data-request-validate
        {% if require_approval %}
            data-request-update="'@_post_success': '#zsc-comment-form-container'"
        {% else %}
            data-request-update="'@_commentslist': '#zsc-comments-list'"
            data-request-complete="document.getElementById('zsc-comment-form').reset()"
        {% endif %}
    >
        <input type="hidden" id="zsc-comment-reply-to" name="comment-reply-to" value="">

        <div class="zsc-comment-form-header">
            {{ 'zisoft.comments::lang.components.comments.header'|trans }}
        </div>
        
        <div class="form-control">
            <label for="zsc-comment-name">{{ 'zisoft.comments::lang.components.comments.name'|trans }}</label>
            <input type="text" id="zsc-comment-name" name="comment-name">
        </div>
        
        
        <div class="form-control">
            <label for="zsc-comment-email">
                {{ 'zisoft.comments::lang.components.comments.email'|trans }}
                <small>{{ 'zisoft.comments::lang.components.comments.email_not_publish'|trans }}</small>
            </label>
            <input type="email" id="zsc-comment-email" name="comment-email">
        </div>
        
        <div class="form-control">
            <label for="zsc-comment-text">{{ 'zisoft.comments::lang.components.comments.text'|trans }}</label>
            <textarea id="zsc-comment-text" name="comment-text"></textarea>
        </div>

        <div class="error">
            <div data-validate-error></div>
        </div>

        <button type="submit" data-attach-loading>{{ 'zisoft.comments::lang.components.comments.send'|trans }}</button>
    </form>
</div>

<div class="zsc-comments-list-header">
    {{ 'zisoft.comments::lang.components.commentslist.header'|trans }}
</div>

<div class="zsc-comments-list" id="zsc-comments-list">
    {% partial __SELF__ ~ '::_commentslist' %}
</div>
