subject = "Neuer Kommentar auf {{ url('/') }}"
==

Auf {{ url('/') }} wurde eine neuer Kommentar gepostet.

Seite: {{ page }}

ID: {{ comment_id }}
Name: {{ name }}
Email: {{ email }}
Text: {{ text }}

==

<p>Auf {{ url('/') }} wurde ein neuer Kommentar gepostet.</p>

<p>Seite: <strong>{{ page }}</strong></p>

<p>
    ID: {{ comment_id }}<br>
    Name: {{ name }}<br>
    Email: {{ email }}<br>
    Text: {{ text }}
</p>

<a href="{{ approve_url }}">
    Kommentar freischalten!
</a>

<a href="{{ delete_url }}">
    Kommentar löschen!
</a>


