subject = "New comment on {{ url('/') }}"
layout = "system"
description = "New comment mail"
==
<p>A new comment has been posted on {{ url('/') }}</p>

<p>Seite: <strong>{{ page }}</strong></p>

<table>
    <tr>
        <td>ID:</td>
        <td>{{ comment_id }}</td>
    </tr>
    <tr>
        <td>URL:</td>
        <td>{{ url }}</td>
    </tr>
    <tr>
        <td>Name:</td>
        <td>{{ name }}</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>{{ email }}</td>
    </tr>
    <tr>
        <td>Text:</td>
        <td>{{ text }}</td>
    </tr>
</table>

<form method='GET' action='{{ approve_url }}'>
    <input type='hidden' name='id' value='{{ comment_id }}'>
    <input type='hidden' name='url' value='{{ url }}'>
    <div>
        <label>Quick Reply:</label>
    </div>
    <textarea name='quickreply' rows='4' cols='60'></textarea>
    <div>
        <button type='submit' class='button button-positive'>Approve comment!</button>
    </div>
</form>


{% partial 'button' url=delete_url type='negative' body %}
Delete comment!
{% endpartial %}
