.zsc-comment-form {
  margin: 1em 0;
  width: 100%;
  max-width: 30em;
}

.zsc-comment-form-header {
  border-top: 1px solid #aaa;
  font-size: 1.2em;
}

.zsc-comment-form .form-control {
  margin-bottom: 0.5em;
}

.zsc-comment-form .error {
  height: 1.5em;
  color: red;
}

.zsc-comment-form label {
  display: block;
}

.zsc-comment-form input,
.zsc-comment-form textarea {
  width: 100%;
  border-radius: 0.2em;
  border: 1px solid #aaa;
}

.zsc-comment-form textarea {
  height: 5em;
}

.zsc-comment-form button {
  padding: 0.4em 1em;
  border-radius: 0.3em;
  border: 1px solid #aaa;
  background-color: #ccc;
}

.zsc-comments-list {
  margin-bottom: 1em;
}

.zsc-comments-list-header {
}

.zsc-comments-list ul {
  list-style-type: none;
}

.zsc-comments-list ul:first-child {
  padding-left: 0;
}

.zsc-comment {
  margin-bottom: 1em;
}

.zsc-comment-header {
  display: flex;
  font-size: 0.8em;
  margin-bottom: 0.5em;
}

.zsc-comment-gravatar {
  margin-right: 0.5em;
}

.zsc-comment-name {
  font-weight: bold;
}

.zsc-comment-dt {
  font-style: italic;
}

.zsc-comment-text {
  width: 30em;
  white-space: pre-wrap;
}

.zsc-comment-reply {
  font-size: 0.8em;
}

.zsc-comment-sent {
  font-weight: bold;
  color: #f00;
}
