.zsc-commentcount {
  display: flex;
  margin-bottom: 0.5em;
  font-size: 0.8em;
  color: #666;
}

.zsc-commentcount-text-before {
  margin-right: 0.3em;
  display: none;
}

.zsc-commentcount-value {
  margin-right: 0.3em;
}

.zsc-commentcount-text-after {
}
